<h2>INGRESE SU NOMBRE</h2>
<button type="button" class="btn btn-warning"><a href="http://localhost:8080/register">REGISTRARSE</a></button>
      <br>
      <form action="/login" method="POST">
        <label for="user">UserName</label>
        <input for="text" name="username" id="username"/>
        <label for="pass">Contaseña</label>
        <input for="text" name="password" id="password"/>
        <button onclick="ingresar()">Ingresar</button>
      </form>